@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "aktiv-grotesk";
  src: url("../../public/fonts/AktivGrotesk-Regular.otf");
}

@font-face {
  font-family: "aktiv-light";
  src: url("../../public/fonts/AktivGrotesk-Light.otf");
}

@font-face {
  font-family: "aktiv-bold";
  src: url("../../public/fonts/AktivGrotesk-Bold.otf");
}

@font-face {
  font-family: "mercedes";
  src: url("../../public/fonts/Corporate A Light.ttf");
}
@font-face {
  font-family: "mercedes-bold";
  src: url("../../public/fonts/Corporate A Bold.otf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer base {
  body {
    @apply text-white;
    @apply overscroll-y-none;
    @apply font-aktiv-grotesk;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  a {
    @apply opacity-100 transition ease-in-out hover:opacity-75;
  }
}
